/* AdminPage.css */
.admin-page {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: left; /* 左对齐 */
  background-color: white;
  width: 500px;
  margin-left: 30px;
}


.email-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email-list {
  max-height: 300px; /* 设置最大高度，以触发垂直滚动条 */
  overflow-y: auto; /* 显示垂直滚动条 */


  padding: 8px; /* 可选：添加内边距样式 */
}

.input-button-container {
  display: flex;
  align-items: center;
}

  .input-button-container2 {
    /* 输入和按钮容器样式 */
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    align-items: center; /* 水平居中子元素 */
  }

input[type="email"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

button {
  background-color: #1877F2;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
}

.message {
  color: green;
  margin-bottom: 10px;
}

.email-card {
  background-color: rgba(217, 237, 243, 0.6);
  padding: 8px;
  margin: 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
  .title-input {
    /* 标题输入字段样式 */

    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .content-textarea {
    /* 内容textarea样式 */
    width: 90%; /* 宽度占满容器 */
    height: 250px; /* 根据需要调整高度 */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-y: scroll; /* 显示垂直滚动条 */
  }


.active-users-container p {
  font-size: 18px;
  color: #007bff; /* 设置文字颜色为蓝色 */
}
