/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #000000;
}

body {
  background-color: #aabbcc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
*/

.Aufgabe {

  margin: 30px 50px;
  margin-bottom: 150px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;

    background-color: #8aa1ab;
/*   background-color: hsl(170,30%,50%);
*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.score-section {

margin-top: 200px;

}
.score-text {
  color: #003153;
  display: flex;
  font-size: 24px;
  align-items: center;
    justify-content: center;
  margin-bottom: 100px;
}

.score-table{
width: 500px;
margin-bottom: 50px;
}

.question-section {
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #d9c6b0;
  border-radius: 15px;
  padding: 20px;

  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.question-count {
  color: #4f799c;
  margin-bottom: 50px;
}

.question-count span {
  font-size: 58px;
}

.question-text {
  color: #2f8ccc;
  margin-bottom: 12px;
  font-size: 30px;
}

.input {
  width: 270px;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.1);
  -moz-box-shadow: inset 0 0 4px 2px rgba(0,0,0, 0.1);
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.timer-text {
  background: #003153;
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}


.answer-section {
  margin: 0 auto;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.submit{
  height:32px;
  line-height:0px;
  font-size:14px;
  background: burlywood;
  width:150px;
  text-align:center;

}

.submit:hover{
  color: cornflowerblue;

}

.submit:active{
  background-color: #888888;

  color: white;
  transition: 0.1s

}

buttons
{
    width:100%;
    text-align: center;
}

.button {
  display:inline-block;
  margin: auto;
  width: auto;
  font-size: 16px;
  color: #fbd26f;
  background-color: #003153;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.button:hover {
  background-color: #555e7d;
}

.button:focus {
  outline: none;
}

.button svg {
  margin-right: 5px;
}

.next {
  float: left;
  margin: auto;
  width: auto;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #003153;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.next:hover {
  background-color: #555e7d;
}

.next:focus {
  outline: none;
}

.next svg {
  margin-right: 5px;
}

.back {
  float: right;
  margin: auto;
  width: auto;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #003153;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.back:hover {
  background-color: #555e7d;
}

.back:focus {
  outline: none;
}

.back svg {
  margin-right: 5px;
}

