.title{
  text-align: center;
  color: white;
  padding: 30px;

}

#mycourse{
  padding: 10px;
  font-size: large;
  color: white;
  font-style: unset;


}
.select{
  display:block;
  height:34px;
  line-height:35px;
  font-size:14px;
  width:240px;
  margin:30px auto;
  color: white;
  background: cornflowerblue;
}

.submit:hover{
  color: cornflowerblue;

}

.submit:active{
  background-color: #888888;

  color: white;
  transition: 0.1s

}

.back{
  height:32px;
  line-height:0px;
  font-size:14px;
  background: burlywood;
  width:100px;
  margin-left: 10px;
}

.back:hover{
  color: cornflowerblue;

}

.back:active{
  background-color: #888888;

  color: white;
  transition: 0.1s

}
