/* Facebook的蓝色 */
:root {
  --fb-blue: #1877F2;
}

/* 整体样式 */
body {
  font-family: Arial, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.apple-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  outline: none;
}

.apple-btn-login {
  background-color: #007AFF; /* 苹果蓝色 */
  color: white;
}

.apple-btn-register {
  background-color: #f1f1f1; /* 灰色背景 */
  color: #007AFF;
  border: 1px solid #007AFF;
}

.apple-btn-login:hover {
  background-color: #0058D3; /* 深蓝色 */
}

.apple-btn-register:hover {
  background-color: #e5e5e5;
}

/* 标题 */
.title, .second_title {
  text-align: center;
  color: var(--fb-blue);
}

/* 左右布局 */
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 5%;
}

.left {
  width: 45%;
  padding: 20px;
}

.left > Slider > div {
    height: 500px;  /* 根据需要设置一个固定高度 */
    overflow: hidden;
}


.right {
  width: 50%;
  padding: 20px;
}

/* 轮播图 */
.homepage-image {
  width: 100%;      /* 设置宽度为100% */
  height: 100%;
   max-height: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.homepage-image:hover {
  transform: scale(1.05);  /* 轻微的放大效果 */
}

/* 描述文字 */
.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* Increased font weight */
  color: transparent;
  background: linear-gradient(45deg, rgba(101, 116, 164, 0.6), #00509E); /* Gradients from light blue to dark blue */
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.6;
  font-size: 18px;
}


.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}
