/* MyprofileStyle.css */

/* 根容器样式 */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flexDirection: column;
  minHeight: 100vh
}

/* 用户信息容器样式 */
.user-info-container {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: left; /* 左对齐 */
  background-color: white;
   height: 200px;
  width: 400px;
}


/* 级别列表样式 */
.level-list {
  border-radius: 8px;
  padding: 20px;
  margin-top: 40px;
  text-align: left; /* 左对齐 */
  background-color: white;
   height: 140px;
  width: 400px;

}

/* 用户名和密码样式 */
.username-password {
  margin-bottom: 15px;
  color: black;
}

.username-password span {
  font-weight: normal;
  color:black;

}


.level-list span {
  font-weight: bold;

}

.level-list ul {
  list-style: none;
  padding-left: 0;
}

.level-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;



}

.level-list img {
  max-width: 30px;
  max-height: 30px;
  margin-left: 5px;
}

/* 编辑密码按钮样式 */
.link-btn {

  color: green;
}

.link-btn:hover {

  color: green;
}

.explanation-box {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.infolink{
  color: grey;
}
.infolink:hover{
  color: goldenrod;
}
.delete-button1 {
  margin-top: 2 0px;
  margin-right: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button2 {
  margin-top: 40px;
  margin-right: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button1:hover {
  background-color: darkred;
}

.delete-button1:focus {
  outline: none;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
  .profile-container {
    max-width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .user-info-container, .level-list {
    width: auto; /* Allows the width to adjust to the screen size */
    max-width: 100%; /* Ensures it doesn't exceed the viewport width */
    height: auto; /* Makes height flexible */
    padding: 10px; /* Adjust padding for smaller screens */
    margin-bottom: 10px;
  }

  .username-password {
    display: block; /* Stack the username and change password link */
  }

  .link-btn {
    display: block; /* Ensure the change password link goes on a new line */
    margin-top: 10px;
    margin-left: -15px;
  }

  .delete-button1, .delete-button2 {
    width: 100%; /* Full width buttons on mobile */
    margin-top: 20px;
  }

  .explanation-box {
    margin-top: 20px; /* Ensure there's space between this and the list above on mobile */
  }

}
