.search{
  display:block;
  height:20px;
  line-height:20px;
  font-size:15px;
  width:240px;
  margin:40px auto;
  padding-left:30px;
  color: black;
  background: white;

}


.show{
  display:block;
  height:100px;
  line-height:35px;
  font-size:17px;
  width:240px;
  margin:30px auto;
  color: white;
  background: cornflowerblue;

}
