

.word-learning-page {
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 150px;
}

.title{
  color: #2064bd;
   margin-top: -10px;
}

.hint{
  color: black;
  margin-left: 30%;


  margin-bottom:30px;
}
.word-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.letter-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #2064bd;
  color: white;
  border: none;
  cursor: pointer;
}


.letter-button:hover {
  /* Your existing hover styles */

  /* Add background color change */
  background-color: #1B9CFC;
}

.letter-button:active {
  /* Your existing active styles */

  /* Add background color change */
  background-color: #1abc9c;
}



.button.clicked {
  background-color: gray;
  color: white;
}

.continue:hover{
  color: #2f8ccc;
}

.continue:active{
  color: steelblue;
}

.answer-section {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;


}

.answer-input {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}




.submit-button {
  padding: 10px 20px;
  background-color: #fdcb6e;
  color: white;
  border: none;
  cursor: pointer;
}
.submit-button:hover {
  /* Your existing hover styles */

  /* Add background color change */
  background-color: #f39c12;
}

.submit-button:active {
  /* Your existing active styles */

  /* Add background color change */
  background-color: #e67e22;
}

.submit-button:disabled{
  background-color: #bdc3c7;
}
.scoreboard{

  color: cornflowerblue;
}
.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: lightskyblue;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}

.word-learning-page {
  position: relative;
}

.heart-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hearts {
  display: flex;
  align-items: center;
  gap: 5px;
}
.heart-icon {
  width: 20px;
  height: 20px;
}
.score-gif{
  width: 70px;
  height: 70px;

}
