.App {
  text-align: center;

  min-height: 100vh;

  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #8B8989, #848482 48%, #1B1C1E);

}

.auth-form-container{
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding:5%;
  width:30%;



}

.login-form, .register-form {
  display:flex;
  flex-direction: column;
  margin: auto;
  width: 50%;




}




/*
@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
*/


label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #888888;

}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}


