.footer-content {
  display: flex;
  align-items: center;
  justify-content: center; /* 让内容水平居中 */
  background-color: white;
}

.footer-content a {
  margin-right: 10px;
  color: grey;
  text-decoration: none;
  display: flex; /* 让链接内的内容以flex布局 */
  align-items: center; /* 让链接内的内容垂直居中 */
}

.footer-content a:last-child {
  margin-right: 0; /* 最后一个链接不需要右边距 */
}

.footer-content a::after {
  content: "|"; /* 添加竖线内容 */
  margin-left: 10px;
  color: grey; /* 设置竖线颜色 */
}

.footer-content a:last-child::after {
  content: none; /* 最后一个链接不需要竖线 */
}

.footer-content a:hover {
  color: #2f8ccc;
}
.footer {
  margin-top: auto;
  padding: 20px;
  background-color:white;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* 在小屏幕上垂直堆叠项 */
    padding: 10px 0; /* 调整内边距 */
  }

  .footer-content a {
    margin: 5px 0; /* 调整链接的上下边距，移除左右边距 */
    justify-content: center; /* 在移动视图中居中每个链接 */
  }

  .footer-content a::after {
    content: ""; /* 在移动视图中不显示竖线 */
  }

  .footer {
    padding: 15px; /* 减少填充 */
    font-size: 14px; /* 减小字体大小以适应更小的屏幕 */
  }
}
