
nav{
  display: flex;
  align-content: center;
  /*zwischendurch space*/
  justify-content: space-between;
  background: burlywood;
  padding: 20px 80px;

}

#navbar{
  display: flex;
  /*导航块背景颜色*/
  background-color: burlywood;
  justify-content: center;

}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

}
#navbar li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #222222;
  transition: 0.3s ease-in-out;

}

#navbar li a:hover{
  color: cornflowerblue;

}

#navbar li a:active{
  background-color: cornflowerblue;
  padding: 35px 0px;
  color: white;
  transition: 0.1s

}

